<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.tizen.web.zimlaunch.WebAppLaunch">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Launcher"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.tizen.common.CONFIG_ATTR_PROJECT_NAME" value="Launcher"/>
<stringAttribute key="org.tizen.commonCONFIG_ATTR_DEVICE_SERIAL_NO" value="192.168.1.2:26101"/>
<intAttribute key="org.tizen.web.zimlaunch.LATEST_LAUNCH_TYPE" value="0"/>
<booleanAttribute key="org.tizen.web.zimlaunch.LIVE_EDITING" value="false"/>
<booleanAttribute key="org.tizen.web.zimlaunch.UPDATE_MODE" value="false"/>
</launchConfiguration>
